@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');

:root {
    --cor-header : #031926;
    --cor-tittle : #031926;
    --cor-home : #77ACA2;
    --cor-fundo-about : #031926;
    --cor-about : #468189;
    --cor-fundo-curriculo : #468189;
    --cor-curriculo : #031926;
}

*, html {

    scroll-behavior: smooth !important;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif3;
    list-style: none;
}

p{
    color: #ffff;
}

section {
    height: 100vh;
}

.fodase{
    width: 35vw;
    font-size: 1.8rem;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.tittle_container_about{
    width: 100%;
}

header{
    position: fixed;
    height: 6vh;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: row;
    background-color: var(--cor-about);
    box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.548);
    justify-content: center;
    z-index: 999;
}

.mobile{
    display: none;
}

.mobile-menu div{
    width: 32px;
    height: 2px; 
    background: #000000;
    margin: 8px;
    transition: 0.3s;
}

.mobile-menu{
    cursor: pointer;
    display: none;
}

.nav-list{
    display: none;
    list-style: none;
}

.nav-list li{
    letter-spacing: 3px;
    margin-left: 32px;
}

.right_header{
    display: flex;
    
}

.right_header:hover a{
    transform: scale(1.2);
}

.house_home:hover a{
    transform: scale(1.2);
}

.right_header a{
    transition: .5s ease;
}

.house_home a{
    transition: .5s ease;
}

.house_home{
    display: flex;
    font-size: 25px;
}

.right_header a{
    color: #ffff;
}

.house_home a{
    color: #ffff;
}

a{
    color: #ffff;
}

.redes{
    height: 32px;
    display: flex;
    font-size: 25px;
    margin-right: auto;
    transition: .5s ease;
}

.container_redes{
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    flex-direction: column;
}

.redes p{
    color:#ffff;
    transition: .5s ease;
}

.redes p:hover{
    border-bottom: 1px solid;
    cursor: pointer;
    transform: scale(1.05);
}

.c{
    display: flex;
    width: 90%;
    align-items: center;
}

.container_a{
    display: flex;
    align-items: center;
    text-align: center;
    align-content: space-between;
    justify-content: center;
    flex-direction: row;
    color: #ffff;
    outline: none;
    text-decoration: none;
    border-left: 10px;
    gap: 15px;
}

.right_header:hover{
    cursor: pointer;
}

.home{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-color: var(--cor-curriculo);
    flex-direction: row;
    transition: .5s ease;
}

.right-img{
    width: 85%;
}

.img_svg{
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: center;
}


.container_titulo{
    gap: 2rem;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    cursor: default;
}

.container_titulo span{
    color: var(--cor-about);
}

.container_titulo p{
    font-size: 130px;
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.social{
    height: 50px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.social a{
    font-size: 35px;
    cursor: pointer;
    transition: .5s ease;
    padding: 7px;
}

.social a:hover{
    transform: scale(1.3);
}

.container_inicio{
    padding: 3rem;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    transition: .5s ease;
}

.tittle{
    width: 100%;
    height: 90px;
    display: flex;
    font-size: 80px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.container_about{
    display: flex;
    flex-direction: row;
}

.about_tela{
    background-color: var(--cor-about);
}

.about{
    width: 40vw;
    height: 70vh;
    border: 1px solid;
    background-color: var(--cor-curriculo);
    border-radius: 20px;    
}

.text_about{
    padding: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
}

.tittle_about{
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
}

.tittle_about h1{
    color: white;
    font-size: 50px;
}

.tittle_about span{
    font-size: 30px;
    color: var(--cor-about);
}

.container_about{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    cursor: default;
}

.img_about{
    display: flex;
    width: 50vw;
    justify-content: center;
}

.fodase span {
    color: var(--cor-about);
}

/* .about{
    height: 70%;
    padding: 2rem;
    width: 40%;
    border-radius: 15px;
    background-color: #F22222;
    color: black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

.tittle span{
    font-size: 80px;
    color: #ffffff;
}

.about .tittle{
    height: 170px;
    justify-content: flex-end;
    align-items: flex-start;
}

.about_text{
    width: 100%;
    height: 70%;
    display: flex;
    font-size: 1.8vw;
} */

.foto_about{
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
}

.curriculo_tela{
    padding-top: 4rem;
    background-color: var(--cor-curriculo);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_text{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    cursor: default;
}

.container_text .tittle{
    
    border-bottom: 1px solid;
    color: #ffff;
}

.container_curriculo{
    height: 97%;
    width: 50%;
    background-color: var(--cor-about);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    cursor: default;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}


.curriculo_text{
    gap: 15px;
    display: flex;
    font-size: 27px;
    align-items: center;
    color:var(--cor-curriculo);
}

.curriculo_text img{
    width: 45px;
}

.container_curriculo_text{
    width: 100%;
    HEIGHT: 80%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    align-items: flex-start;
    overflow-y: auto;
    overflow-x: hidden;
}

.curriculo_rightimg{
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
}

/* @media screen and (max-width:1440px){
    .tittle{
        font-size: 70px;
    }

    .about_text{
        font-size: 30px;
    }
} */


.nav-list.active{
    transform: translateX(0);
}

.nav-list.active li{
    font-size: 25px;
}

.nav-list2{
    display: flex;
    justify-content: space-between;
    width: 140px;
}

@media screen and (max-width:1024px){

    .container_a{
        display: none;
    }

    .mobile{
        display: flex;
        justify-content: space-between;
    }

    .nav-list{
        display: flex;
        position: absolute;
        top: 6vh;
        right: 0;
        width: 40vw;
        height: 100vh;
        background-color: #468189;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }
    
    .img_about{
        width: 85vw;
    }

    .nav-list li{
        margin-left: 0;
        opacity: 0;
    }

    .mobile-menu{
        display: block;
    }
}

@media screen and (max-width:768px){
    .about .tittle{
        font-size: 89px;
    }

    .nav-list{
        top: 7vh;
    }
}

@media screen and (max-width:430px){
    header{
        height: 70px;
    }

    .nav-list2 a{
        font-size: 30px;
    }

    .redes{
        height: 40px;
        font-size: 40px;
        align-items: center;
    }

    .nav-list{
        width: 50vw;
        top: 6vh;
    }

    .nav-list.active li{
        font-size: 20px;
    }

    .redes p{
        font-size: 30px;
    }

    .c{
        width: 83%;
        align-items: center;
    }

    .social{
        display: none;
    }

    .tittle{
        font-size: 80px;
    }

    .container_titulo p{
        font-size: 65px;
    }

    .container_about{
        padding-top: 3rem;
        width: 90%;
        height: 100%;
    }

    .container_about .tittle{
        font-size: 55px;
    }

    .about_text{
        font-size: 19px;
    }

    .about{
        height: 80%;
        width: 100%;
    }

    .about_tela{
        display: flex;
        justify-content: center;
    }

    .curriculo_tela{
        padding-top: 2rem;
    }

    .container_curriculo{
        width: 100%;
        height: 80%;
        border-radius: 0%;
    }

    .container_text{
        height: 90%;
        width: 90%;
    }

    .container_curriculo_text{
        width: 90%;
        height: 90%;
    }

    .curriculo_text{
        font-size: 20px;
    }

    .curriculo_text img{
        font-size: 40px;
    }

}

@media screen and (max-width:414px){
    .about .tittle{
        display: flex;
        font-size: 40px;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .nav-list{
        top: 6vh;
    }

    .about_text{
        font-size: 22px;
    }

    .about .tittle{
        font-size: 43px;
    }

    .container_titulo .tittle{
        font-size: 65px;
    }

    .bmvd{
        font-size: 65px;
    }

    .curriculo_tela{
        padding-top: 3rem;
    }

    .container_curriculo{
        height: 90%;
    }

    .container_text .tittle{
        font-size: 60px;
    }

    .container_curriculo_text{
        width: 90%;
        height: 90%;
    }

    .curriculo_text{
        font-size: 20px;
    }

    .curriculo_text img{
        width: 40px;
    }
}

@media screen and (max-width:360px){
    .container_titulo p {
        font-size: 55px;
    }
}

@media screen and (max-width:390px){
    .about .tittle{
        font-size: 50px;
    }

    .about_text{
        font-size: 15px;
    }

    .about .tittle{
        font-size: 43px;
    }

    .container_titulo .tittle{
        font-size: 65px;
    }

    .bmvd{
        font-size: 65px;
    }

    .curriculo_tela{
        padding-top: 3rem;
    }

    .container_curriculo{
        height: 85%;
    }
}

@media screen and (max-width:375px){
    .about .tittle{
        font-size: 41px;
    }

    .about_text{
        font-size: 18px;
    }

    .container_titulo .tittle{
        font-size: 70px;
    }

    .container_titulo p{
        font-size: 55px;
    }

    .bmvd{
        font-size: 60px;
    }

    .container_about{
        padding-top: 0rem;
    }

    .curriculo_tela{
        padding-top: 3rem;
    }

    .container_curriculo{
        height: 80%;
    }

    .curriculo_text img{
        width: 30px;
    }
}

@media screen and (min-width:300px) and (max-width:400px){

}

@keyframes navLinkFade {
    from{
        opacity: 0;
        transform: translateX(50px);
    }

    to{
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu.active .line1{
    transform: rotate(-45deg) translate(-7px, 8px);
}

.mobile-menu.active .line2{
    opacity: 0;
}

.mobile-menu.active .line3{
    transform: rotate(45deg) translate(-6px, -6px);
}
